# run remix: 
# remixd -s "d:/Office/gPBL2022/contracts" --remix-ide https://remix.ethereum.org
# MetaMask also lets the user create and manage their own identities, so when a Dapp wants to perform a transaction and write to the blockchain, the user gets a secure interface to review the transaction, before approving or rejecting it.
# git rm -rf --cached .
# git log --graph --abbrev-commit --decorate --date=relative --all
# geth --datadir D:\Office\DAPP\nodedata01 

# geth init ./genesis.json --datadir ./privitechain
# geth --datadir ./privitechain --nodiscover
# geth attach ipc://./pipe/geth.ipc
# presonal.newAccount()
# eth.getBalance(eth.accounts[0])
# miner.setEtherbase(eth.accounts[0])
# miner.start(1)
# onion impose elder minor brain desert phone actress busy grow crime crack
.vscode/
*.code-workspace
*/artifacts
**/remix-live
**/remix-project
*/node_modules
/server/.env
/client/.env
/server/trans.js
*.drawio